<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">ダウンロードリンク集</h1>
　　　　　<div class="form-group">
          <%= button_to '見積書_テンプレート', download_path, method: :get, class: "text-white" %>
          <%= button_to '日報_テンプレート', download_path, method: :get, class: "text-white" %>
        </div>
     </div>
    </div>
  </div>
</div>