<%
=begin%>
 <div class="users-new-wrapper"> 
<%
=end%>
<div class="top-hero-wrapper text-center">

  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <br>
        <br>
        <h1 class="text-center text-white">ダウンロードリンク集</h1>
　　　　　<div class="form-group">

          <%= button_to '見積書_テンプレート', download_path, method: :get, class: "btn-block btn-white" %>
          <%= button_to '日報_テンプレート', download_path, method: :get, class: "btn-block btn-white" %>
        </div>
     </div>
    </div>
  </div>
</div>