<br>
  
  <% @posts.each do |post| %>
      <div class="row">
        <div class="">
          <div class="">
            <h2 class="">
              <%= post.user.name %>
            </h2>
          
            <p class="">
              <%= post.description %>
            </p>
          </div>
        </div>
      </div>
    <% if current_user.admin? %>

      <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>


      