h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #ff4500;
  // color: #fff;
}

.btn-white {
  color: #ff4500;
  border: 1px solid #ff4500;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #ff4500;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('bg-top.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // background-color: #464646;
  background-color: #1e90ff;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.topic-index-wrapper {
  padding-top: 70px;
  // background-color: #fafafa;
  background-color: #1e90ff;
  .topic-index-single {
    // background-color: #fff;
    background-color: #ffefd5;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    // border: 1px solid #e6ecf0;
    border: 1px solid #ff4500;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}